.App {
  text-align: center;
  display: flex;
}

table {
  margin: 1rem;
  border: 0;
  border-collapse: separate;
  border-spacing: 0 5px;
}

thead tr th {
  border-bottom: 1px solid wheat;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

tbody tr#first td {
  border-top: 3px solid #4d4d4d;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

th {
  color: #828282;
  font-size: small;
}
tr {
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
